*{     
     font-family: 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-family: sans-serif;
}
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(238, 220, 170);
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}
.block{
    display: flex;
    width: auto;
    height: auto;
    background-color: peachpuff;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    justify-content: center;
    
}
.todoItem.edit-mode .todoName, .todoItem.edit-mode .editBtn {
    display: none;  
    
}

.todoItem.edit-mode .editInput, .todoItem.edit-mode .saveBtn {
    display: inline-block;
}
.checkBox{
   margin-left: 1.5rem;
}
.sh{
    display: block;
    background-color: rosybrown;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    padding:  10px;
}

@media(max-width: 600px) {
    body{
     height: auto;
     margin-top: 6rem;
    }
    .container{
     border: 0.25rem solid white;
     box-shadow: 0.2rem 0.8rem 1rem  #dfe6e9;
    }
    .header{
        border-bottom: 0.25rem solid white;
    }
 }

 .AddContainer{
     padding-left: 35px;
     padding-bottom: 15px;
     
 }
